<p><%= @event.name %></p>
<p>Location: <%= @event.location %></p>
<p>Time: <%= @event.event_date %></p>
<p>Host: <%= @event.host.email %></p>
<p>Number of Attendees: <%= @event.attendees.count %></p>

<%= button_to 'Attend this event' %>