<p><%= @event.name %></p>
<p>Location: <%= @event.location %></p>
<p>Time: <%= @event.event_date %></p>
<p>Host: <%= @event.host.email %></p>
<p>Number of Attendees: <%= @event.attendees.count %></p>

<% if @event.host.id == current_user.id %>
    <p>You are <strong>hosting</strong> this event</p>
<% elsif Attendance.where(event: @event.id, attendee: current_user.id).exists? %>
    <%= button_to 'Unattend', attendance_path, params: {id: @event.id}, method: :delete %>
<% else %>
    <%= button_to 'Attend', attendances_path(event_id: @event.id)%>
<% end %>