<p><%= @event.name %></p>
<p>Location: <%= @event.location %></p>
<p>Time: <%= @event.event_date %></p>
<p>Host: <%= @event.host.email %></p>
<p>Number of Attendees: <%= @event.attendees.count %></p>

<%= button_to 'Attend', attendances_path(event_id: @event.id) if current%>
<%#Create 'unattend' btn %>
<%# display that user is host and display no btn%>